@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <title>Healthy Diet</title>

    <!--    Bootstrap CSS Import   -->
    <link rel="stylesheet" href="~/custom/css/bootstrap.css" />

    <!--    Font Awesome CSS Import   -->
    <link rel="stylesheet" href="~/custom/fontawesome/css/all.css">

    <!--    Bootstrap JS Imports   -->
    <script src="~/custom/js/bootstrap.js"></script>
</head>


<body>

    <div class="container-fluid justify-content-center" style="background: url('./custom/img/home-page.jpg') no-repeat center fixed; height: 969px; background-size: cover;">
        <div class="row">
            <div class="col text-center mt-5">
                <img class="mt-5" style="height: 350px; width: 350px;" src="~/custom/img/logo.png" />
            </div>
        </div>

        <div class="container text-center mt-3">

            @if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col text-center">
                        <a href="/Account/Settings" class="btn btn-success my-3 font-weight-bold"
                           style="background-color: #c69500; width: 295px; font-size: 16px; opacity: 0.9;"><b>Welcome</b> @User.Identity.Name</a>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-6 text-right">
                        <a href="/Account/Login" class="btn btn-success my-3 font-weight-bold mr-1"
                           style="background-color: #c69500; width: 130px; font-size: 16px; opacity: 0.9;">Login</a>
                    </div>
                    <div class="col-6 text-left">
                        <a href="/Account/Register" class="btn btn-success my-3 font-weight-bold ml-1"
                           style="background-color: #c69500; width: 130px; font-size: 16px; opacity: 0.9;">Register</a>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col">
                    <a href="/Recipes/Index" class="btn my-3 font-weight-bold"
                       style="background-color: #fed8b1; width: 295px; font-size: 18px; opacity: 0.9;">Recipes</a>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <a href="/DietPlans/Index" class="btn my-3 font-weight-bold"
                       style="background-color: #fed8b1; width: 295px; font-size: 18px;opacity: 0.9;">Diet Plans</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/CalorieCounter/Index" class="btn my-3 font-weight-bold"
                       style="background-color: #fed8b1; width: 295px; font-size: 18px; opacity: 0.9;">Calorie Counter</a>
                </div>
            </div>
        </div>
    </div>
</body>
